<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>金冠烘培坊</title>

  <!-- basic meta data  -->

  <!-- mobile  -->

  <!-- Schema.org markup for Google -->

  <!-- Twitter Card data -->

  <!-- Open Graph data -->

  <!-- favicons -->

  <!-- css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/<%= current.source %>.css">
</head>

<body>
  <%- partial("componments/_loading") %>
  <%- yield %>
  <%- partial('partials/_footer') %>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
  <script src="js/<%= current.source %>.js"></script>
</body>
</html>
